
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.4/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.startScreen_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* mobilelist_2 */
.ui-page .startScreen_mobilelist_2 {
	margin: 4px 0px 0px 0px;
}
/* mobilelistitem_3 */
/* mobilelistitembutton_4 */
.startScreen_mobilelistitembutton_4 {

}
/* mobilelistitem_5 */
/* mobilelistitembutton_6 */
.startScreen_mobilelistitembutton_6 {

}
/* mobilefooter */
.startScreen_mobilefooter {
	min-height:38px;
}